body{
	padding:0;
	margin:0;

	font-family: 'Kurale', serif;
	font-family: FontAwesome;
}
canvas{
	position: absolute;
	padding:0;
	margin:0;
}
canvas#webgl{
	z-index: 0;
}
canvas#canvas-assets{
	z-index: 1;
}
canvas#canvas-touch{
	z-index: 2;
}
#settings{
	width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    z-index: 900;
    right: 10px;
    bottom: 10px;
    /* background: white; */
    font-family: FontAwesome;
    text-align: center;
}
#settings:after{ 
	content: '\f013';
    font-size: 50px;
    line-height: 58px;
    color: rgba(255,255,255,0.5);
} 
.modal{
	z-index: 10001;
}
.media img{
	width: 50px;
}
.modal-body { 
    padding: 5px;
}
#ct-3{
	min-width: 280px;
}
.tab-content p{
	padding:5px;
}
#master_volume_icon,
#master_hand_icon{
	font-size: 20px;
    background: #337ab7;
    padding: 8px;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
}
#master_volume,
#master_hand{
	width:200px; 
	margin:3px;
	display: inline-block;
}
.ui-slider .ui-slider-range{
	background: rgb(51, 122, 183);
}
.ui-widget-content { 
    background: #d3ebff; 
}
 
.ad-embebed-msg{
	padding: 10px;
	margin-top:10px;
    text-align: center;
    background: #efefef;
    width: 100%;
    font-size: 14px;
    font-family: FontAwesome;
}
.cFont{
	font-family: 'Fredoka One', cursive;
}
#play{
	font-size: 20px;
	background: #3ead06;
    color: white;
}
#cplay{
	width: 100%;
	padding:10px;
	text-align: center;

}
.s_level{
	background: #e9ffb3;
}
.s_level.selected{
	background: #ccfd56;
}
.cColor1{
	color:#1b909c;
}
#trev{
    position: absolute;
    z-index: 3;
    left: 90px;
    width: 200px;
    font-size: 34px;
    font-family: 'Fredoka One', cursive;
    padding: 0;
    margin: 0;
    color: black;
}
.cc_l{
	font-size: 50px;
    text-align: center;
    color: #75c320;
}
#l_points{
	color: #1b909c;
}
@media (min-width: 400px){ 
	.modal-sm {
	    width: 300px;
	}
	.modal-dialog { 
	    margin: 30px auto;
	}
}